/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env
/vendor/
/resources/campapp-27c42-firebase-adminsdk-3h4dd-9d22f8dd89.json